flows.json
[{"id":"f16067bf.100ce8","type":"tab","label":"Flow 2"},{"id":"a52959c1.6266a8","type":"csv-file-rotate","z":"f16067bf.100ce8","name":"csvdailyrotate","filename":"","x":760,"y":180,"wires":[["8448f894.bc41c8"]],"inputLabels":["csv file as payload"],"outputLabels":["debug"]},{"id":"b9c4437.f2e87c","type":"inject","z":"f16067bf.100ce8","name":"start","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":110,"y":180,"wires":[["19e7dcb5.b7bbe3"]]},{"id":"2b11358d.cbf5ba","type":"csv","z":"f16067bf.100ce8","name":"convert to csv","sep":";","hdrin":"","hdrout":false,"multi":"one","ret":"\\r","temp":"","x":420,"y":240,"wires":[["9161d0dc.1bf5d"]]},{"id":"9161d0dc.1bf5d","type":"function","z":"f16067bf.100ce8","name":"set file name and path","func":"msg.csvfile = {};\nmsg.csvfile.filename = \"dailyrotate\";\nmsg.csvfile.path = \"/Users/hajn/EPU/nodered-playground/csvdailyrotate/dailyrotate.csv\";\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":180,"wires":[["a52959c1.6266a8"]]},{"id":"19e7dcb5.b7bbe3","type":"function","z":"f16067bf.100ce8","name":"set json payload","func":"msg.payload = {\"action\":\"stored\",\"message\":\"watched file path: /path/to/some/file.ext\",\"timestamp\":\"14:55:48\"};\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":180,"wires":[["2b11358d.cbf5ba"]]},{"id":"8448f894.bc41c8","type":"debug","z":"f16067bf.100ce8","name":"","active":true,"console":"false","complete":"true","x":820,"y":260,"wires":[]}]