flows.json
[{"id":"391f3e9d.6b17e2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f16067bf.100ce8","type":"tab","label":"Flow 2"},{"id":"a52959c1.6266a8","type":"csv-file-rotate","z":"f16067bf.100ce8","name":"csvdailyrotate","filename":"","x":760,"y":180,"wires":[["8448f894.bc41c8"]],"inputLabels":["csv file as payload"],"outputLabels":["debug"]},{"id":"b9c4437.f2e87c","type":"inject","z":"f16067bf.100ce8","name":"start","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":110,"y":180,"wires":[["19e7dcb5.b7bbe3"]]},{"id":"2b11358d.cbf5ba","type":"csv","z":"f16067bf.100ce8","name":"convert to csv","sep":";","hdrin":"","hdrout":false,"multi":"one","ret":"\\r","temp":"","x":420,"y":240,"wires":[["9161d0dc.1bf5d"]]},{"id":"9161d0dc.1bf5d","type":"function","z":"f16067bf.100ce8","name":"set file name and path","func":"msg.csvfile = {};\nmsg.csvfile.filename = \"dailyrotate\";\nmsg.csvfile.path = \"/Users/hajn/EPU/nodered-playground/csvdailyrotate/dailyrotate.csv\";\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":180,"wires":[["a52959c1.6266a8"]]},{"id":"19e7dcb5.b7bbe3","type":"function","z":"f16067bf.100ce8","name":"set json payload","func":"msg.payload = {\"action\":\"stored\",\"message\":\"watched file path: /path/to/some/file.ext\",\"timestamp\":\"14:55:48\"};\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":180,"wires":[["2b11358d.cbf5ba"]]},{"id":"8448f894.bc41c8","type":"debug","z":"f16067bf.100ce8","name":"","active":true,"console":"false","complete":"true","x":820,"y":260,"wires":[]},{"id":"1e4a1171.b0218f","type":"httpInMultipart","z":"391f3e9d.6b17e2","name":"/upload","url":"/upload","method":"post","fields":"[{ \"name\": \"myFile\" }]","swaggerDoc":"","x":142.5,"y":246,"wires":[["31fddb1f.396fa4"]]},{"id":"7871d1f2.9b209","type":"http response","z":"391f3e9d.6b17e2","name":"","statusCode":"","headers":{},"x":1051.5,"y":293,"wires":[]},{"id":"ecb49515.321888","type":"http in","z":"391f3e9d.6b17e2","name":"/uploadForm","url":"/uploadForm","method":"get","upload":false,"swaggerDoc":"","x":173.5,"y":94,"wires":[["9df05c12.ccb4f"]]},{"id":"9df05c12.ccb4f","type":"template","z":"391f3e9d.6b17e2","name":"Upload Form","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Upload File & move to current working folder\n\n<form action=\"upload\" enctype=\"multipart/form-data\" method=\"POST\">\n    <input type=\"file\" name=\"myFile\" />\n    <input type=\"submit\" value=\"Upload\" />\n</form>","output":"str","x":393,"y":94,"wires":[["23386ea5.d605d2"]]},{"id":"23386ea5.d605d2","type":"http response","z":"391f3e9d.6b17e2","name":"","statusCode":"","headers":{},"x":1044,"y":95,"wires":[]},{"id":"31fddb1f.396fa4","type":"function","z":"391f3e9d.6b17e2","name":"create response","func":"var file = msg.req.files;\nvar filesize\nmsg.test=file;\nvar destinationFolder = \"/tmp\";\nmsg.src = file.myFile[0].destination;\nmsg.destination = context.global.__dirname + destinationFolder;\nmsg.filename = file.myFile[0].originalname;\nmsg.srcfilename = file.myFile[0].filename;\nvar localFilenamePath = msg.destination + \"/\" + msg.filename;\nvar fileSize = file.myFile[0].size;\n\nvar response={};\nif(msg.test) {\n    \n        \n    response.statusCode=200;\n    response.localFilenamePath=localFilenamePath;\n    response.fileSize = fileSize;\n    response.sendMessage=\"Successful\";\n}\nelse {\n    response.statusCode=400;\n    response.localFilenamePath=\"n/a\";\n    response.fileSize = \"n/a\";\n    response.sendMessage=\"Failed\";\n}\n\nmsg.payload=response;\nmsg.payload.redirect = '<button><a href=\"/uploadForm\">Upload another file</a></button>';\nreturn msg;","outputs":1,"noerr":0,"x":390.5,"y":295,"wires":[["f93e02ed.aecce"]]},{"id":"be179b59.e63778","type":"debug","z":"391f3e9d.6b17e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":827.5,"y":373,"wires":[]},{"id":"f93e02ed.aecce","type":"fs-ops-move","z":"391f3e9d.6b17e2","name":"","sourcePath":"src","sourcePathType":"msg","sourceFilename":"srcfilename","sourceFilenameType":"msg","destPath":"destination","destPathType":"msg","destFilename":"filename","destFilenameType":"msg","link":false,"x":632.5,"y":296,"wires":[["be179b59.e63778","cbde1f1a.236be"]]},{"id":"cbde1f1a.236be","type":"template","z":"391f3e9d.6b17e2","name":"Response with Link","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Status code: {{payload.statusCode}}\nLocal filename path: {{{payload.localFilenamePath}}}\nfileSize: {{payload.fileSize}}\nSend message: {{payload.sendMessage}}\n\n{{{payload.redirect}}}","output":"str","x":824.5,"y":294,"wires":[["7871d1f2.9b209"]]},{"id":"75bc4a8f.42e024","type":"comment","z":"391f3e9d.6b17e2","name":"A ) Frontend Upload Form ","info":"Simple Upload Form unter localhost:1880/uploadForm","x":212.5,"y":46,"wires":[]},{"id":"b319861b.43ffb8","type":"comment","z":"391f3e9d.6b17e2","name":"B ) POST form-data upload","info":"Form-data POST request an /upload, key: myFile","x":211.5,"y":198,"wires":[]},{"id":"5507a727.ef09e8","type":"comment","z":"391f3e9d.6b17e2","name":"1. a. HTTP Response Builder","info":"HTTP Response wird erstellt (auslesen des Statuscodes, Größe, Filenames und Pfades) und Vorbereitung zum kopieren (von /tmp zu workingDirectory/tmp)","x":429.5,"y":245,"wires":[]},{"id":"4a91eb59.d4e104","type":"comment","z":"391f3e9d.6b17e2","name":"2. Move File","info":"Datei wird nach dem Upload in den aktuellen Arbeitsordner verschoben.\n\nZielpfad: Kann in der create response function davor oder im Node selbst geändert werden.\nOriginaldateiname (beim Upload) wird beibehalten, also Dateien gleichen Namens werden überschrieben.\nKann umgestellt werden indem nicht bei Destination Filename ebenfalls msg.srcfilename ausgewählt wird oder in der create response function davor angepasst","x":640.5,"y":244,"wires":[]},{"id":"5bdee689.356b68","type":"comment","z":"391f3e9d.6b17e2","name":"3. Response Template","info":"Extrahiert die Informationen und stellt den Upload Link für das Frontend als klickbares HTML-Element bereit.","x":831.5,"y":242,"wires":[]},{"id":"fe181dde.b0195","type":"function","z":"391f3e9d.6b17e2","name":"create response","func":"var file = msg.req.files;\nvar filesize\nmsg.test=file;\nvar localFilenamePath = file.myFile[0].path;\nvar fileSize = file.myFile[0].size;\nvar response={};\nif(msg.test)\n    {\n        response.statusCode=200;\n        response.localFilenamePath=localFilenamePath;\n        response.fileSize = fileSize;\n        response.sendMessage=\"Successful\";\n    }\nelse\n    {\n        response.statusCode=400;\n        response.sendMessage=\"Failed\";\n    }\nmsg.payload=response;\nreturn msg;","outputs":1,"noerr":0,"x":389,"y":424,"wires":[["2860f51c.24582a","be179b59.e63778"]]},{"id":"2860f51c.24582a","type":"http response","z":"391f3e9d.6b17e2","name":"","statusCode":"","headers":{},"x":1055,"y":422,"wires":[]},{"id":"1e826592.d74a5a","type":"comment","z":"391f3e9d.6b17e2","name":"1. b. HTTP Response Builder","info":"Uploaded File: wird nicht verschoben, sondern bleibt in /tmp","x":430.5,"y":371,"wires":[]}]